@import '../../../stylesheets/variables/_typography.scss';
@import '../../../stylesheets/variables/_colors.scss';
@import '../../../stylesheets/variables/_structure.scss';
@import '../../../stylesheets/variables/_breakpoints.scss';
@import '../../../stylesheets/variables/_mixins.scss';

/* Navigation */
.navigation-menu {
	@include font-size(1);
	font-weight: 600;
	letter-spacing: 0.05em;
	font-family: $font__accent;
	width: $size__content-width;
	max-width: 100%;
	vertical-align: top;
	padding: $size__site-gutter/2;
	text-transform: uppercase;

	@include tablet {
		padding: $size__site-gutter/2 $size__site-gutter*2;
	}
}

.navigation-menu-container {
	display: flex;
	flex-wrap:  nowrap;
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include tablet {
		justify-content: center;
	}
}

.navigation-menu-item {
	margin: 0 $size__site-gutter/2 0 #{-$size__site-gutter/2};

	&::before {
		content: '\00b7';
		display: inline;
	}

	&:first-child::before {
		display: none;
	}
}

.navigation-menu-link {
	text-decoration: none;
	color: $color__black;
	display: inline-block;
	padding: $size__site-gutter/8 $size__site-gutter/2;

	&:hover {
		color: $color__primary-dark;
	}
}

// Currently selected page gets special styling.
.navigation-menu-item.current {
	.navigation-menu-link {
		color: $color__primary-dark;
	}
}


/*
[1]: All items a forced onto a single line, causing the overflow when necessary.
[2]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[3]: Make it smooth scrolling on iOS devices
[4]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[5]: Hide the scroll bar in WebKit browsers
*/
.navigation-menu {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
.navigation-menu::-webkit-scrollbar {
  display: none;
}


/* On small screens, decrease space between menu items. */
@include mobile {
	.navigation-menu {
		position: relative;

		&::after {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 40px;
			height: 100%;
			display: block;
			content: '';
			background-image: linear-gradient(to right, transparent 0, white 100%);
		}
	}

	.navigation-menu-item {
		margin: 0 6px 0 -6px
	}

	.navigation-menu-link {
		@include font-size(0.9);
		padding: 5px 6px;
	}
}
