@import '../../../stylesheets/variables/_typography.scss';
@import '../../../stylesheets/variables/_colors.scss';
@import '../../../stylesheets/variables/_structure.scss';
@import '../../../stylesheets/variables/_breakpoints.scss';
@import '../../../stylesheets/variables/_mixins.scss';

/* Navigation */
.navigation-menu {
	@include font-size(1);
	font-weight: 600;
	letter-spacing: 0.05em;
	font-family: $font__accent;
	width: $size__content-width;
	max-width: 100%;
	vertical-align: top;
	padding: $size__site-gutter/2 0;
	text-transform: uppercase;

	@include tablet {
		padding: $size__site-gutter/2 $size__site-gutter*2;
	}
}

.navigation-menu-container {
	display: flex;
	flex-wrap:  nowrap;
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include tablet {
		justify-content: center;
	}
}

.navigation-menu-item {
	margin: 0 $size__site-gutter/2 0 #{-$size__site-gutter/2};

	&::before {
		content: '\00b7';
		display: inline;
	}

	&:first-child::before {
		display: none;
	}
}

.navigation-menu-link {
	text-decoration: none;
	color: $color__black;
	display: inline-block;
	padding: $size__site-gutter/8 $size__site-gutter/2;

	&:hover {
		color: $color__primary-dark;
	}
}

// Currently selected page gets special styling.
.navigation-menu-item.current {
	.navigation-menu-link {
		color: $color__primary-dark;
	}
}

/* On small screens, decrease space between menu items. */
@include mobile {
	.navigation-menu {
		position: relative;
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		&::after,
		&::before {
			position: fixed;
			top: 0;
			bottom: 0;
			width: 25px;
			height: 120px;
			display: block;
			content: '';
		}

		&::before {
			background-image: linear-gradient(to left, transparent 0, white 100%);
			left: 0;
		}

		&::after {
			background-image: linear-gradient(to right, transparent 0, white 100%);
			right: 0;
		}

		.navigation-menu::-webkit-scrollbar {
			display: none;
		}
	}

	.navigation-menu-item {
		margin: 0 6px 0 -6px;

		&:first-of-type {
			padding-left: $size__site-gutter/2;
			margin-left: 0;
		}

		&:last-of-type {
			padding-right: $size__site-gutter/2;
			margin-right: 0;
		}
	}

	.navigation-menu-link {
		@include font-size(0.9);
		padding: 5px 6px;
	}
}
