.site-branding, .site-logo-link {
  display: none; }
@charset "UTF-8";
/* Navigation */
.navigation-menu {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 960px;
  max-width: 100%;
  vertical-align: top;
  padding: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .navigation-menu {
      padding: 20px 80px; } }

.navigation-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding-left: 0; }
  @media (min-width: 768px) {
    .navigation-menu-container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.navigation-menu-item {
  margin: 0 20px 0 -20px; }
  .navigation-menu-item::before {
    content: '\B7';
    display: inline; }
  .navigation-menu-item:first-child::before {
    display: none; }

.navigation-menu-link {
  text-decoration: none;
  color: #232024;
  display: inline-block;
  padding: 5px 20px; }
  .navigation-menu-link:hover {
    color: #B53377; }

.navigation-menu-item.current .navigation-menu-link {
  color: #B53377; }

/*
[1]: All items a forced onto a single line, causing the overflow when necessary.
[2]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[3]: Make it smooth scrolling on iOS devices
[4]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[5]: Hide the scroll bar in WebKit browsers
*/
.navigation-menu {
  white-space: nowrap;
  /* [1] */
  overflow-x: auto;
  /* [2] */
  -webkit-overflow-scrolling: touch;
  /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* [4] */ }

/* [5] */
.navigation-menu::-webkit-scrollbar {
  display: none; }

/* On small screens, decrease space between menu items. */
@media (max-width: 767px) {
  .navigation-menu {
    position: relative; }
    .navigation-menu::after {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 100%;
      display: block;
      content: '';
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), to(white));
      background-image: linear-gradient(to right, transparent 0, white 100%); }
  .navigation-menu-item {
    margin: 0 6px 0 -6px; }
  .navigation-menu-link {
    font-size: 14.4px;
    font-size: 0.9rem;
    padding: 5px 6px; } }
#site-content.grid {
  padding: 40px 20px;
  margin-bottom: 80px; }
  @media (min-width: 768px) {
    #site-content.grid {
      padding: 80px;
      display: grid;
      grid-template-column: 1fr 1fr;
      grid-gap: 40px; } }
.article-header.fancy {
  text-align: center;
  border-bottom: 3px solid #A09CA0;
  margin: 40px 20px 40px; }
  @media (min-width: 768px) {
    .article-header.fancy {
      margin: 120px 20px 120px; } }
  .article-header.fancy .article-meta {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 12.8px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    color: #716E72;
    position: relative; }
    @media (min-width: 768px) {
      .article-header.fancy .article-meta {
        font-size: 14.4px;
        font-size: 0.9rem; } }
    .article-header.fancy .article-meta::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      border-bottom: 2px solid #A09CA0; }
    .article-header.fancy .article-meta .formatted-date {
      padding: 0 20px;
      background: #ffffff;
      position: relative; }
  .article-header.fancy .article-title {
    background: #F26BAF;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, right top, left top, from(#61D2FF), to(#F26BAF));
    background: linear-gradient(to left, #61D2FF, #F26BAF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .article-header.fancy .article-meta,
  .article-header.fancy .article-title {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .article-header.fancy .article-meta,
      .article-header.fancy .article-title {
        margin-bottom: 40px; } }

.article-header.spacer {
  height: 80px; }
  @media (min-width: 768px) {
    .article-header.spacer {
      height: 160px; } }
  .article-header.spacer .article-title {
    display: none; }

.intro .article-header {
  border: 0; }
a.article-title {
  background-color: #B53377;
  background-image: -webkit-gradient(linear, left top, right top, from(#B53377), color-stop(50%, #3C98BC), color-stop(50%, transparent));
  background-image: linear-gradient(left, #B53377 0%, #3C98BC 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-transition: .1s .2s;
  transition: .1s .2s;
  background-clip: text; }
  a.article-title:hover {
    background-position: 0 0;
    color: transparent;
    -webkit-transition: .2s 0;
    transition: .2s 0; }
.article-content {
  max-width: 960px;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .article-content {
      padding: 0 80px; } }

.article-single:not(.single-wanderlist-location) .article-content > p:first-of-type::first-letter,
.tax-talks .article-content p:first-of-type:not(.wp-block-caption)::first-letter {
  color: #A09CA0;
  display: block;
  float: left;
  font-size: 116.8px;
  font-size: 7.3rem;
  font-family: lust-display, "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-weight: 700;
  line-height: 0.6;
  margin: 16px 10px 0 -5px; }
  @media (min-width: 768px) {
    .article-single:not(.single-wanderlist-location) .article-content > p:first-of-type::first-letter,
    .tax-talks .article-content p:first-of-type:not(.wp-block-caption)::first-letter {
      font-size: 196.8px;
      font-size: 12.3rem;
      margin-top: 16px; } }

.article-single:not(.single-wanderlist-location) .article-content > p:first-of-type::first-line,
.tax-talks .article-content p:first-of-type:not(.wp-block-caption)::first-line {
  font-variant: small-caps;
  letter-spacing: 2px; }

.article-single:not(.single-wanderlist-location) .article-content > p:first-of-type::after,
.tax-talks .article-content p:first-of-type:not(.wp-block-caption)::after {
  display: table;
  clear: both;
  content: ''; }

.article-content a {
  background-color: #B53377;
  background-image: -webkit-gradient(linear, left top, right top, from(#B53377), color-stop(50%, #3C98BC), color-stop(50%, transparent));
  background-image: linear-gradient(left, #B53377 0%, #3C98BC 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-transition: .1s .2s;
  transition: .1s .2s;
  background-clip: text; }
  .article-content a:hover {
    background-position: 0 0;
    color: transparent;
    -webkit-transition: .2s 0;
    transition: .2s 0; }

.article-content img {
  max-width: 100%;
  height: auto; }

.article-content figure,
.article-content .wp-caption {
  line-height: 0;
  margin: 0 0 40px;
  max-width: 100%; }
  .article-content figure a,
  .article-content .wp-caption a {
    background: none;
    padding: 0;
    margin: 0;
    display: block; }

.article-content figcaption,
.article-content .wp-caption-text {
  font-size: 19.2px;
  font-size: 1.2rem;
  color: #716E72;
  font-style: italic;
  line-height: 1.4;
  margin: 0;
  width: 100%; }

@media (min-width: 768px) {
  .article-content figure,
  .article-content .wp-caption {
    position: relative;
    margin: 0 -40px 40px;
    max-width: calc(100% + 80px); }
  .article-content figcaption,
  .article-content .wp-caption-text {
    position: absolute;
    bottom: 0;
    background: rgba(35, 32, 36, 0.5);
    color: #ffffff;
    padding: 20px; } }
.tag-link {
  background: #F26BAF;
  color: #232024;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px; }
  @media (min-width: 768px) {
    .tag-link {
      font-size: 14.4px;
      font-size: 0.9rem; } }
.category-link {
  background: #61D2FF;
  color: #232024;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px; }
  @media (min-width: 768px) {
    .category-link {
      font-size: 14.4px;
      font-size: 0.9rem; } }
.article-footer {
  padding: 0 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 768px) {
    .article-footer {
      padding: 0 80px; } }
.article-excerpt .article-title {
  text-decoration: none; }
.page-nav {
  padding: 10px 5px;
  border-top: 1px solid #4B454C;
  margin: 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 768px) {
    .page-nav {
      margin: 0 80px 0;
      padding: 20px 5px; } }
.site-footer {
  color: #8c838e;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic;
  padding-top: 20px;
  margin: 0 20px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .site-footer {
      margin: 0 80px 0;
      padding-top: 20px; } }
  .site-footer a {
    color: #B53377;
    border-color: transparent; }
    .site-footer a:hover {
      border-color: rgba(75, 69, 76, 0.5); }
  .site-footer .emoji {
    font-style: normal; }
/*
Theme Name: Bookish
Theme URI: https://sarahmonster.github.io/bookish
Author: sarah semark
Author URI: https://triggersandsparks.com/
Description: A ReactJS + Redux + Gutenberg theme!
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: phoenix
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Bookish is based on work by Jack Reichert (https://www.jackreichert.com/)

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.js #rendered-php {
  display: none; }

body {
  background: #ffffff; }

#site {
  background: #ffffff;
  margin: 0 auto;
  max-width: 960px; }

body,
button,
input,
select,
textarea {
  color: #4B454C;
  font-family: "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 1.6; }
  @media (min-width: 768px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 25.6px;
      font-size: 1.6rem; } }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 20px; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  color: #716E72;
  line-height: 1;
  font-family: lust-display, "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-weight: 900;
  font-size: 41.6px;
  font-size: 2.6rem;
  letter-spacing: -0.02em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 76.8px;
      font-size: 4.8rem; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 96px;
      font-size: 6rem; } }
  h1 a {
    color: #716E72; }

h2 {
  color: #716E72;
  font-style: italic;
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  margin-top: 3em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 38.4px;
      font-size: 2.4rem; } }

h3 {
  color: #716E72;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h3 {
      font-size: 14.4px;
      font-size: 0.9rem; } }

/* Body copy */
p {
  margin: 0 0 80px; }

.cap::first-letter {
  color: #A09CA0;
  display: block;
  float: left;
  font-size: 116.8px;
  font-size: 7.3rem;
  font-family: lust-display, "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-weight: 700;
  line-height: 0.6;
  margin: 16px 10px 0 -5px; }
  @media (min-width: 768px) {
    .cap::first-letter {
      font-size: 196.8px;
      font-size: 12.3rem;
      margin-top: 16px; } }

.cap::first-line {
  font-variant: small-caps;
  letter-spacing: 2px; }

.cap::after {
  display: table;
  clear: both;
  content: ''; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em;
  border-top: 1px solid #cac5cb;
  color: #A09CA0;
  display: block;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.25em auto;
  padding-top: 0.5em;
  text-align: left; }
  @media (min-width: 768px) {
    blockquote {
      font-size: 22.4px;
      font-size: 1.4rem; } }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

strong {
  background: #F9EAF7;
  color: #4B454C;
  padding: 0 5px; }

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 0;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

.entry-content ul li {
  list-style: none;
  position: relative; }

.entry-content ul li::before {
  content: '\2022';
  font-size: 0.5em;
  line-height: 3;
  position: absolute;
  right: 102%; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #B53377;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  a:hover, a:focus, a:active {
    color: #3C98BC; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

p.has-drop-cap:not(.focus)::first-letter {
  color: #A09CA0;
  display: block;
  float: left;
  font-size: 116.8px;
  font-size: 7.3rem;
  font-family: lust-display, "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-weight: 700;
  line-height: 0.6;
  margin: 16px 10px 0 -5px; }
  @media (min-width: 768px) {
    p.has-drop-cap:not(.focus)::first-letter {
      font-size: 196.8px;
      font-size: 12.3rem;
      margin-top: 16px; } }

p.has-drop-cap:not(.focus)::first-line {
  font-variant: small-caps;
  letter-spacing: 2px; }

p.has-drop-cap:not(.focus)::after {
  display: table;
  clear: both;
  content: ''; }

/*# sourceMappingURL=style.css.map*/