.site-branding, .site-logo-link {
  display: none; }
/* Navigation */
.navigation-menu {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
  vertical-align: top;
  border-bottom: 2px solid #A09CA0;
  padding-bottom: 10px;
  text-transform: uppercase; }

.navigation-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.navigation-menu-item {
  margin: 0 20px 0 -20px; }
  .navigation-menu-item::before {
    content: '\B7';
    display: inline; }
  .navigation-menu-item:first-child::before {
    display: none; }

.navigation-menu-link {
  text-decoration: none;
  color: #232024;
  display: inline-block;
  padding: 5px 20px; }
  .navigation-menu-link:hover {
    color: #B53377; }

/* On small screens, decrease space between menu items. */
@media (max-width: 767px) {
  .navigation-menu-item:first-of-type {
    display: none; }
  .navigation-menu-item {
    margin: 0 6px 0 -6px; }
  .navigation-menu-link {
    font-size: 14.4px;
    font-size: 0.9rem;
    padding: 5px 6px; } }
article.archive h1 {
  font-size: 2rem; }

article.single {
  margin: 1em auto; }

article .wp-caption {
  max-width: 100%; }

article img {
  max-width: 100%;
  height: auto; }

article.empty {
  height: 30rem; }
.commentBox {
  padding: 1em; }
.copy {
  text-align: center;
  font-size: 0.75rem; }
/*
Theme Name: Bookish
Theme URI: https://sarahmonster.github.io/bookish
Author: sarah semark
Author URI: https://triggersandsparks.com/
Description: A ReactJS + Redux + Gutenberg theme!
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: phoenix
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Bookish is based on work by Jack Reichert (https://www.jackreichert.com/)

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.js #rendered-php {
  display: none; }

body {
  background: #4B454C; }

#site {
  background: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px; }
  @media (min-width: 768px) {
    #site {
      padding: 40px; } }

body,
button,
input,
select,
textarea {
  color: #4B454C;
  font-family: "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 1.6; }
  @media (min-width: 768px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 25.6px;
      font-size: 1.6rem; } }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 20px; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  color: #716E72;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 41.6px;
  font-size: 2.6rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 76.8px;
      font-size: 4.8rem; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 112px;
      font-size: 7rem; } }
  h1 a {
    color: #716E72; }

h2 {
  color: #716E72;
  font-style: italic;
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.2;
  margin-top: 3em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 38.4px;
      font-size: 2.4rem; } }

h3 {
  color: #716E72;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h3 {
      font-size: 14.4px;
      font-size: 0.9rem; } }

/* Body copy */
p {
  margin: 0 0 80px; }

.cap::first-letter,
.single:not(.single-wanderlist-location) .entry-content p:first-of-type::first-letter,
.tax-talks .entry-content p:first-of-type::first-letter {
  color: #A09CA0;
  display: block;
  float: left;
  font-size: 112px;
  font-size: 7rem;
  font-family: "Freight Text Pro", freight-text-pro, Georgia, serif;
  font-weight: 700;
  line-height: 0.6;
  margin: 14px 5px 0 -5px; }
  @media (min-width: 768px) {
    .cap::first-letter,
    .single:not(.single-wanderlist-location) .entry-content p:first-of-type::first-letter,
    .tax-talks .entry-content p:first-of-type::first-letter {
      font-size: 240px;
      font-size: 15rem;
      margin-top: 16px; } }

.cap::first-line,
.single:not(.single-wanderlist-location) .entry-content p:first-of-type::first-line,
.tax-talks .entry-content p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: 2px; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em;
  border-top: 1px solid #cac5cb;
  color: #A09CA0;
  display: block;
  font-size: 19.2px;
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.25em auto;
  padding-top: 0.5em;
  text-align: left; }
  @media (min-width: 768px) {
    blockquote {
      font-size: 22.4px;
      font-size: 1.4rem; } }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

strong {
  background: #F9EAF7;
  color: #4B454C;
  padding: 0 5px; }

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 0;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

.entry-content ul li {
  list-style: none;
  position: relative; }

.entry-content ul li::before {
  content: '\2022';
  font-size: 0.5em;
  line-height: 3;
  position: absolute;
  right: 102%; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*# sourceMappingURL=style.css.map*/