@import '../../../stylesheets/variables/structure';
@import '../../../stylesheets/variables/colors';
@import '../../../stylesheets/variables/breakpoints';
@import '../../../stylesheets/variables/mixins';

.article-header.fancy {
	background: $color__black;
	padding: $size__site-gutter $size__site-gutter/2;
	margin-bottom: $size__site-gutter*2;
	position: relative;
	z-index: 2;

	@include tablet {
		padding: $size__site-gutter*2;
	}

	@include desktop {
		margin-left: -$size__site-gutter;
		margin-right: 0;
	}

	.article-title {
		@include text-gradient;
		//padding: 35px 0; // Avoids text being cut off in FF.
		max-width: $size__content-width;
	}

	.article-meta {
		@include font-size(1.6);
		font-style: italic;
		color: $color__white;
		margin-bottom: $size__site-gutter/4;

		@include desktop {
			@include font-size(1.8);
		}
	}
}

.article-header.spacer {
	height: $size__site-gutter*2;

	@include tablet {
		height: $size__site-gutter*4;
	}

	.article-title {
		display: none;
	}
}
