@import '../../../stylesheets/variables/structure';
@import '../../../stylesheets/variables/colors';
@import '../../../stylesheets/variables/breakpoints';
@import '../../../stylesheets/variables/mixins';
@import '../../../stylesheets/variables/typography';

.article-header.fancy {
	padding: $size__site-gutter/2 $size__site-gutter/2;
	text-align: center;
	border-bottom: 2px solid $color__neutral;
	margin: $size__site-gutter*2 0;

	.article-title {
		@include text-gradient;
	}

	.article-meta {
		@include small-caps;
		color: $color__neutral-text;
		margin-bottom: $size__site-gutter;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			border-bottom: 2px solid $color__neutral;
		}

		.formatted-date {
			padding: 0 20px;
			background: $color__background-body;
			position: relative;
		}
	}
}

.article-header.spacer {
	height: $size__site-gutter*2;

	@include tablet {
		height: $size__site-gutter*4;
	}

	.article-title {
		display: none;
	}
}
