@import '../../../stylesheets/variables/structure';
@import '../../../stylesheets/variables/colors';
@import '../../../stylesheets/variables/breakpoints';
@import '../../../stylesheets/variables/mixins';

.article-footer {
	padding: 0 $size__site-gutter/2;
	margin-bottom: $size__site-gutter;
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;

	@include tablet {
		padding: 0 $size__site-gutter*2;
	}
}
