@import '../../../stylesheets/variables/_structure';
@import '../../../stylesheets/variables/_colors';
@import '../../../stylesheets/variables/_breakpoints';
@import '../../../stylesheets/variables/_mixins';

.site-footer {
	color: lighten($color__text-main, 25%);
	@include font-size(1);
	font-style: italic;
	padding-top: $size__site-gutter/2;
	border-top: 2px solid $color__soft-black;
	margin: 0 $size__site-gutter/2 0;

	@include tablet {
		margin: 0 $size__site-gutter*2 0;
		padding-top: $size__site-gutter;
	}

	a {
		color: $color__primary-dark;
		border-color: transparent;

		&:hover {
			border-color: transparentize($color__text-main, 0.5);
		}
	}

	.emoji {
		font-style: normal;
	}
}
