// This prevents an icky flash of unstyled content before we load the page.
.js #rendered-php {
	display: none;
}

body {
	background: $color__neutral-highlight;
}

#site {
	background: $color__background-body;
	margin: 0 0 0 auto;
	max-width: $size__max-content-width;
}
