@import '../../../stylesheets/variables/structure';
@import '../../../stylesheets/variables/colors';
@import '../../../stylesheets/variables/breakpoints';
@import '../../../stylesheets/variables/typography';
@import '../../../stylesheets/variables/mixins';

.tag-link {
	background: $color__primary;
	color: $color__black;
	@include small-caps;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 5px;
}
