$font-body: "Freight Text Pro", freight-text-pro, Georgia, serif;
$font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$primary: #c62004;
$contrast: #06617B;
